<div class="login-popup">
  <h3>Login</h3>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <dx-text-box
      [(value)]="username"
      placeholder="Username"
      name="username"
      required
    ></dx-text-box>

    <br /><br />

    <dx-text-box
      [(value)]="password"
      placeholder="Password"
      mode="password"
      name="password"
      required
    ></dx-text-box>

    <br /><br />

    <dx-button
      text="Login"
      type="default"
      stylingMode="contained"
      (onClick)="login()"
    ></dx-button>

    &nbsp;

    <dx-button
      text="Cancel"
      type="normal"
      stylingMode="outlined"
      (onClick)="close.emit()"
    ></dx-button>

    <br /><br />

    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
  </form>
</div>
