<div class="card-row">
    <!-- Partners -->
    <div class="card-group">
      <div class="card-title-box small-title">Partners</div>
      <div class="card">
  <dx-data-grid
    [dataSource]="partners"
    [showBorders]="true"
    [editing]="{
      mode: 'popup',
      allowAdding: true,
      allowUpdating: true,
      allowDeleting: true
    }"
    (onRowInserting)="onAdd($event)"
    (onRowUpdating)="onEdit($event)"
    (onRowRemoving)="onDelete($event)"
  >
    <!-- <dxi-column
      dataField="id"
      caption="ID"
      alignment="center"
      [allowEditing]="false"
    ></dxi-column> -->

    <dxi-column
      dataField="name"
      caption="Partner Name"
      alignment="center"
    ></dxi-column>

    <dxo-editing
      mode="popup"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
    >
      <dxo-popup title="Partner Details" [showTitle]="true" [width]="400" [height]="200"></dxo-popup>
      <dxo-texts addRow="Add Partner"></dxo-texts>
    </dxo-editing>
  </dx-data-grid>
</div>

    </div>