<div class="card-container">
  <div class="card-row">
    <div class="card-group">
      <div class="card-title-box small-title">CONTRACTS</div>
      <div class="card">
        <dx-data-grid
  [dataSource]="contracts"
  [showBorders]="true"
  [editing]="{ mode: 'popup', allowUpdating: true, allowAdding: true, allowDeleting: true }"
  (onRowInserting)="onAdd($event)"
  (onRowUpdating)="onEdit($event)"
  (onRowRemoving)="onDelete($event)"
>
  <!-- <dxi-column dataField="id" caption="ID" [allowEditing]="false" alignment="center"></dxi-column> -->
  <dxi-column dataField="title" caption="Contract Name" alignment="center"></dxi-column>
  <dxi-column dataField="isActive" caption="Contract Active" alignment="center" dataType="boolean"></dxi-column>
  <dxo-editing mode="popup" [allowAdding]="true" [allowDeleting]="true" [allowUpdating]="true">
    <dxo-popup title="Contract Details" [showTitle]="true" [width]="400" [height]="250"></dxo-popup>
  </dxo-editing>
</dx-data-grid>
      </div>
    </div>
