<!-- Parts -->
    <div class="card-group">
      <div class="card-title-box small-title">PARTS</div>
      <div class="card">
        <dx-data-grid [dataSource]="parts" [showBorders]="true">
          <dxi-column dataField="id" caption="ID"  alignment="center"></dxi-column>
          <dxi-column dataField="name" caption="Name"  alignment="center"></dxi-column>
          <dxi-column dataField="status" caption="Status" alignment="center"></dxi-column>
        </dx-data-grid>
      </div>
    </div>
  